@inherits LayoutComponentBase

<div class="wrapper ">

    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <_Navbar/>

    </div>
    <div class="main-panel">
        @Body
    </div>

</div>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay/>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>