@inherits LayoutComponentBase

<link href="css/material-dashboard.min.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
<link href="css/blazor-error-css.css" rel="stylesheet" type="text/css"/>

<AuthorizeView>

    <Authorized>

        <div class="wrapper ">

            <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

                <_Navbar/>

            </div>
            <div class="main-panel">
                @Body
            </div>

        </div>
    </Authorized>


    <NotAuthorized>
        <h1>Sorry this page require login</h1>
    </NotAuthorized>
</AuthorizeView>