@inherits LayoutComponentBase



<AuthorizeView>

    <Authorized>

        <div class="wrapper ">

            <div class="sidebar" data-color="purple" data-background-color="black" style="background-image: url(img/sidebar-1.jpg);">

                <_NavSidebar/>

            </div>
            <div class="main-panel">
                <_Navbar/>
                <div class="content">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>


    <NotAuthorized>
        <h1>Sorry this page require login</h1>
    </NotAuthorized>
</AuthorizeView>



