.main-image{
    background-image: url(../../img/Homepage/setup2.png);
}

.cool-website-image{
    background-image: url(../../img/Homepage/Untitled.png);
}

.nav-link:hover, .default-link:hover
{
    cursor: pointer;
}

.nav-link, .default-link {
    cursor: default;
}

.round-image{
    border-radius: 50%;
    transform: rotate(6deg);
}
