

body {
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

.wrapper{
    margin-top: 10%;
}


/*********/
/**nav   */
/*********/
.top-div{
    position: relative;
}

.bottom-div
{
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.bottom-div-list{
    flex-direction: column;
    width: 92%;
}

.dropdown-nav{
    list-style: none;
}

.dropdown-nav li a {
    color: white !important;
}


/**
colors
 */

.red{
    color: red;
}

.green{
    color: #04bd04;
}

.yellow
{
    color: yellow;
}

.blue
{
    color: #26acc2;
}

.grey
{
    color: grey;
}


