

body {
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}


.wrapper{
    margin-top: 10%;
}


/*********/
/**nav   */
/*********/
.top-div{
    position: relative;
}

.bottom-div
{
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.bottom-div-list{
    flex-direction: column;
    width: 92%;
}

.dropdown-nav{
    list-style: none;
}

.dropdown-nav li a {
    color: white !important;
}


/**
colors
 */

.red{
    color: red !important;
}

.green{
    color: #04bd04 !important;
}

.yellow
{
    color: #d4d421  !important;
}

.blue
{
    color: #26acc2;
}

.grey
{
    color: grey;
}

.small-btn {
    width: 50px;
    height: 25px;
}

/*
MODAL
 */

.override-padding-left-right-10
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.override-padding-left-right-2
{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.type-button:focus
{
    outline: none!important;
    box-shadow: none!important;
}

.count-button:focus{
    outline: none!important;
    box-shadow: none !important;
}


.enable-hover:hover
{
    cursor: pointer;
}

.enable-hover a:hover
{
    text-decoration: underline!important;
}




.collaborator-image {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: grey;
    margin: 0 auto;
}

.small-collaborator-image
{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center; 
    background: grey;
    display: inline-grid;
}

.small-collaborator-image-header
{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: #e9ecef;
    display: inline-grid;
}

.btn-pay 
{
    text-align: center;
    margin: 0 auto !important;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-request
{
    text-align: center;
    margin: 0 auto !important;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*****Homepage******/



