

body {
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

.wrapper{
    margin-top: 10%;
}


/*********/
/**nav   */
/*********/
.top-div{
    position: relative;
}

.bottom-div
{
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.bottom-div-list{
    flex-direction: column;
    width: 92%;
}

.dropdown-nav{
    list-style: none;
}

.dropdown-nav li a {
    color: white !important;
}


/**
colors
 */

.red{
    color: red;
}

.green{
    color: #04bd04;
}

.yellow
{
    color: yellow;
}

.blue
{
    color: #26acc2;
}

.grey
{
    color: grey;
}

/*
MODAL
 */

.override-padding-left-right-10
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.override-padding-left-right-2
{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.type-button:focus
{
    outline: none!important;
    box-shadow: none!important;
}

.count-button:focus{
    outline: none!important;
    box-shadow: none !important;
}




