@model CoolWebsite.Areas.Financial.Models.TransactionVm

@{
    ViewBag.Title = "Transaction";
    Layout = "_Layout";
}

<h2>Transactions</h2>


<div id="main">
        @await Html.PartialAsync("Partial/IndexPartial", @Model)
</div>


@section Scripts
{
    <script src="~/js/financial/common.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/financial/transaction.js" type="text/javascript" asp-append-version="true"></script>
}