
<h1>WOOOW role</h1>

<form asp-action="AddEntity" method="post">
    <button type="submit">Click me to add new thing</button>
</form>

<form asp-action="UpdateEntity" method="post">
    <button type="submit">Click me to update thing</button>
</form>
