

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Display</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-success">
        <th scope="row">Default</th>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    </tbody>
</table> 