@model List<CoolWebsite.Areas.UserManagement.Models.RoleViewModel>


<div class="mt-3">
    @foreach (var role in @Model)
    {
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Role Id: @role.Id</div>
            <div class="card-body">
                <h4 class="card-title">@role.Name</h4>
                <button type="button" class="btn btn-outline-success">Add user to role</button>
                <button type="button" class="btn btn-outline-danger">Delete role</button>
            </div>
        </div>
    }

</div>


