/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
.link {
  color: #0366d6;
}

.btn-primary {
  /*color: #fff;*/
  /*background-color: #1b6ec2;*/
  /*border-color: #1861ac;*/
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*color: #fff;*/
  /*background-color: #1b6ec2;*/
  /*border-color: #1861ac;*/
}

.navbar .nav-link {
  border: none;
}

.nav-link {
  color: #aaaaaa;
}

.custom-nav{
  border: 1px solid rgba(0,0,0,0.6);
}

.sidebar{
  float: left;
}

.error {
  color: red;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #aaaaaa;
}
.border-bottom {
  border-bottom: 1px solid #aaaaaa;
}

.box-shadow {
  box-shadow: .0rem .25rem .75rem rgba(0, 0, 0, .05);
}

.box-shadow-deep{
  box-shadow: .0rem .25rem .75rem .25rem rgba(0, 0, 0, .15);

}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*.footer {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  white-space: nowrap;*/
/*  line-height: 60px; !* Vertically center the text there *!*/
/*}*/



/******************/

.custom-receipt-card
{
  background-color: #31353D
}

.custom-receipt-card .small-collaborator-image
{
  background-color: #4a515c;
}

.custom-receipt-card .card-header
{
  background-color: #3a3f48
}

.custom-receipt-card .card-footer
{
  background-color: #4a515c;
}

.custom-receipt-card li 
{
  background-color: #31353D;
  border: 1px solid rgb(81 89 96);
}



























