@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="CreateAccount">
    <button type="submit"> Create account</button>
    </form>
    <form asp-action="Login">
        <button type="submit">Login </button>
        
    </form>
    
    <form asp-action="getCurrentUser">
    <button type="submit">Get current user</button>
        
    </form>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
