@model CoolWebsite.Application.DatabaseAccess.Financials.FinancialProjects.Queries.GetFinancialProjects.Models.FinancialProjectsVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <button class="btn btn-block btn-primary" data-toggle="modal" id="test"
            data-target="#create-financial-project-modal">
        CREATE PROJECT
    </button>
    
    <div id="project-cards">
        @{
            if (Model.FinancialProjects != null)
            {
                foreach (var financialProject in @Model.FinancialProjects)
                {
                    @await Html.PartialAsync("Partial/FinancialProjectCard", financialProject)
                }
            }
    }
    </div>

<div class="modal" id="create-financial-project-modal">
    @*
    gets loaded from javascript - /financial/home.js
*@
</div>

<div class="modal fade" id="confirm-archive-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirm Archive</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <div class="modal-body text-white">
                <h5>You are about to archive a project, you can undo this under the archive tab.</h5>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" id="confirm-archive-btn">Delete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
        <script src="~/js/financial/common.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/financial/home.js" type="text/javascript" asp-append-version="true"></script>
}
