<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapDark.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Main/MainLayout.css"/>
    <link rel="stylesheet" href="~/css/Main/navbar-fixed-left.min.css"/>
    <link rel="stylesheet" href="~/css/Main/Sidebar.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />

    @await RenderSectionAsync("StyleSheets", false)
</head>
<body>
<header>

    @await Html.PartialAsync("Sidebar")

</header>

<div class="container">
    <div id="wrapper">
        @RenderBody()
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/moment.js"></script>
<script type="text/javascript" src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/JQueryValidationCustomMethods.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
