<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/img/Homepage/d5802db4-4b7b-48a1-a67a-e0b15f34bafb_200x200.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapDark.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Main/MainLayout.css"/>
    <link rel="stylesheet" href="~/css/Main/Sidebar.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.14.0-web/css/all.min.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />

    @await RenderSectionAsync("StyleSheets", false)
</head>
<body>

<div class="page-wrapper chiller-theme toggled">
  
    @await Html.PartialAsync("Sidebar")


    <main class="page-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/js/moment.js"></script>
<script type="text/javascript" src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/JQueryValidationCustomMethods.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
