@model CoolWebsite.Areas.Financial.Models.CreateReceiptModel

@{
    ViewBag.Title = "EditReceipt";
    Layout = "_Layout";
}

<div class="mt-5">
    <h2>Here will you be avaible to edit a receipt</h2>
    <form id="receipt-form">
       
        @{
            await Html.RenderPartialAsync("Partial/ReceiptFields", @Model);
        }
        

        <a type="button" class="btn btn-danger" asp-action="Index" asp-controller="Project" asp-route-id="@Model.FinancialProjectId">Back</a>
        <button type="submit" class="btn btn-success" id="edit-receipt-button">Edit</button> 
        @*FORM get sumbitted via ajax /Financial/project.js*@
    </form>


</div>

<div class="modal" id="create-receipt-item-modal">
    @*Partial view gets called*@
    @{
        await Html.RenderPartialAsync("Partial/CreateReceiptItemModal", @Model.CreateReceiptItemVm);
    }
</div>

<script>
$(document).ready(function() {
    window.onbeforeunload = function(){
              return 'Are you sure you want to leave?';
          };
    
     $(window).data('beforeunload',window.onbeforeunload);  
    
          //remove||re-assign onbeforeunload on hover 
        $('#edit-receipt-button')
          .hover( 
                 function(){window.onbeforeunload=null;},
                 function(){window.onbeforeunload=$(window).data('beforeunload');}
                );
        
  
})
</script>

@section Scripts
{
    <script src="~/js/financial/common.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/financial/project.js" type="text/javascript" asp-append-version="true"></script>
}