@model CoolWebsite.Application.DatabaseAccess.Financials.FinancialProjects.Queries.GetFinancialProjects.Models.FinancialProjectDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="mt-5">
    <button class="btn btn-block btn-primary" data-toggle="modal"
            data-target="">
        CREATE RECEIPT
    </button>
    <div id="project-cards container">

    
        @for (var index = 0; index < Model.Receipts.Count;)
        {
            <div class="row mt-5">

            @for (int i = 0; i < 3; i++)
            {
                
                    <div class="col-sm">
                    @if (index < Model.Receipts.Count)
                    {
                       @await Html.PartialAsync("Partial/ReceiptCard", @Model.Receipts[index])
                    }
                    </div>
                
                index++;
            }
            </div>
        }
    </div>
</div>


<h2>Jo this is a project</h2>
<h1>@Model.Title</h1>

@{
   

    foreach (var applicationUser in Model.Users)
    {
        <p>@applicationUser.FirstName</p>
    }
}

