@model CoolWebsite.Areas.UserManagement.Models.CreateUpdateUserViewModel

<div id="update-user">
    <form method="post" asp-controller="Users" asp-action="UpdateUserPost" asp-area="UserManagement" autocomplete="off">
        
        <input asp-for="Id" type="hidden"/>
        
        <div class="form-row mt-3" >
            <div class="form-group col-md-5">
                <label asp-for="FirstName" >First name</label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-md-5">
                <label asp-for="LastName">Last name</label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
        
        <div class="form-row mt-3" >
            <div class="form-group col-md-5">
                <label asp-for="Email" for="inputEmail4">Email</label>
                <input asp-for="Email" type="email" class="form-control" id="inputEmail4" placeholder="Email" autocomplete="none">
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="new-password">
            </div>
        </div>
    
        <div class="form-row">
               <div class="form-group col-md-4">
                    <label for="inputState">Role</label>
                    <select asp-for="RoleName" asp-items="@Model.Roles" id="inputState" class="form-control">
                    </select>
                </div>
        </div>
           
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Im awesome
                </label>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Update User</button>
        
    </form>
</div>
